@page
@using HtmxOutOfBandSample.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">HTMX Out of Band Sample</h1>
    <div class="alert alert-info">
        💁‍ Watch the 🛒 in the menu above.
    </div>
    @await Html.PartialAsync("Shared/Button", new CounterModel(Model.Count))
</div>